service.wsdl

<definitions name="ProductoService"
 targetNamespace="http://example.com/productos"
 xmlns="http://schemas.xmlsoap.org/wsdl/"
 xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
 xmlns:tns="http://example.com/productos"
 xmlns:xsd="http://www.w3.org/2001/XMLSchema">

<types>
<xsd:schema targetNamespace="http://example.com/productos">
<xsd:element name="ObtenerProductoRequest">
  <xsd:complexType>
    <xsd:sequence>
      <xsd:element name="id" type="xsd:int"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:element>

<xsd:element name="ObtenerProductoResponse">
  <xsd:complexType>
    <xsd:sequence>
      <xsd:element name="nombre" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:element>
</xsd:schema>
</types>

<message name="ObtenerProductoInput">
  <part name="parameters" element="tns:ObtenerProductoRequest"/>
</message>

<message name="ObtenerProductoOutput">
  <part name="parameters" element="tns:ObtenerProductoResponse"/>
</message>

<portType name="ProductoPortType">
  <operation name="ObtenerProducto">
    <input message="tns:ObtenerProductoInput"/>
    <output message="tns:ObtenerProductoOutput"/>
  </operation>
</portType>

<binding name="ProductoBinding" type="tns:ProductoPortType">
  <soap:binding style="document"
   transport="http://schemas.xmlsoap.org/soap/http"/>
  <operation name="ObtenerProducto">
    <soap:operation soapAction="ObtenerProducto"/>
    <input><soap:body use="literal"/></input>
    <output><soap:body use="literal"/></output>
  </operation>
</binding>

<service name="ProductoService">
  <port name="ProductoPort" binding="tns:ProductoBinding">
    <soap:address location="http://localhost:3000/soap"/>
  </port>
</service>
</definitions>
